//=================================================
// 404
//=================================================

.error404 {
    #page-title {
        h1 {
            font-size: 10.526rem;
        }
    }

    #page-content {
        .wrapper {
            .text {
                margin-top: $space_lg;
            }

            .form {
                margin-top: $space_lg;
            }

            .button {
                margin-top: $space_lg;
            }
        }
    }

    @media #{$media_md} {
        .w-50 {
            width: 100% !important;
            max-width: 400px;
        }
    }
}
